* {
	box-sizing: border-box;
	/*padding: 3px;*/
	margin: 3px;
}
body {
	
	background:#000000;
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-top: 2%;
	
}

section {
	
	background: #FFFFFF;
	width: 80vw;
	display: flex;
 	flex-direction: row;
}
label {
	width: 25%;
}
h1 {

	font-size: 32px;
	/*width: 50%;*/
	color:#000000;
	font-family: Laila;
	margin-left: 30%;
}
h2 {
	font-size: 18px;
	color: #696969;
	font-family: Laila;
	margin-right: 50px;
	margin-left: 70px;
}
p {
	font-size: 15px;
	font-family: Laila;
	color: black;
	margin-left: 70px;
}
form {
	width: 60%;
	font-family: Laila;
	color: #000;
	margin-left: 70px;	
	display: flex;
	justify-content: space;
}
a{
	text-decoration: none;
}
/*.caixa1{

	width: 50vw;
	

}	
.caixa2{
	width:50vw;

}*/

.marcar {
	margin-left: 70px;

}
.usuario1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.usuario2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}